
<div id="welcome-container">
  <img id="mountains" src="http://www.elmfunds.com/img/bg4.jpg" />
  <div id="welcome-text-container">
  <h1 id="title"> Welcome! </h1>
<br><p id="welcome-text">
Thank you for participating in this cognitive experiment we’re running, which will hopefully give us greater understanding of how people make decisions under uncertainty.  We will keep your personal details confidential.
<br><br>
You are being given $25 to give 30 minutes of your time to playing a coin flipping game. The $25 is real money and it will be put into your bank ‘balance’ in this game, and however much you have in the balance at the end of 30 minutes will be paid to you in cash or by check, up to a limit which we will tell you about if you get close to it. You can keep playing above that limit, but we will not pay you more than that limit, even if your balance is higher than that cap at the end.
<br><br>
<strong>The coin you can flip is programmed to have a 60% chance of coming up heads and a 40% chance of coming up tails. </strong>

You can bet any amount of money in your balance, but not more, on heads or tails on each flip.
<br><br>
If your balance goes to 0, you cannot play anymore, but we kindly request you stay in the room until the 30 minutes has elapsed.
<br><br> 
Please keep the details about this experiment confidential, so we don’t inadvertently have future subjects who know about the game in advance, as that will make our results less informative.
<br><br> 
If you have any questions, please ask one of us.
<br><br>
Thank you very much for your participation, and good luck!
</p>
	<br>
	<%= link_to "Accept", new_user_path %>
	</div>
</div>
