<h1>Welcome!</h1>

<p> Players will receive a $25 stake to begin the game. This stake is cash and winnings will be paid at the conclusion in cash or check. <p> 

<p> The duration of the game is 30 minutes. If a player runs out of money, the game is terminated however they will not be permitted to leave the room. <p> 

<p> There is a limit to what players can win and if you approach that limit you will receive a notification. Players can keep playing beyond that limit, but their winning will not be paid beyond the cap. <p> 

<p> Players can not flip more than once every ten seconds.  <p> 

<p> Details about the nature of this game should be kept confidential. We will keep results and peronsal details confidential. <p> 

<%= link_to "Accept", new_user_path %>
