
<div id="welcome-container">
  <img id="mountains" src="http://www.elmfunds.com/img/bg4.jpg" />
  <div id="welcome-text-container">
  <h1 id="welcome-text"> Welcome! </h1>
  	<br>
  	<p id="welcome-text"> Players will receive a $25 stake to begin the game. This stake is cash and winnings will be paid at the conclusion in cash or check.
	<br><br>
	The duration of the game is 30 minutes. If a player runs out of money, the game is terminated however they will not be permitted to leave the room.
	<br><br>
	There is a limit to what players can win and if you approach that limit you will receive a notification. Players can keep playing beyond that limit, but their winning will not be paid beyond the cap.
	<br><br>
	Players can not flip more than once every ten seconds.
	<br><br>
	Details about the nature of this game should be kept confidential. We will keep results and peronsal details confidential. 
	</p> 
	<br>
	<%= link_to "Accept", new_user_path %>
	</div>
</div>
