<h1>Welcome!</h1>

<p> Players will receive a $25 stake to begin the game. This stake is cash and winnings will be paid at the conclusion in cash or check. <p> 

<p> Players will receive a $25 stake to begin the game. This stake is cash and winnings will be paid at the conclusion in cash or check. <p> 

<p> Players will receive a $25 stake to begin the game. This stake is cash and winnings will be paid at the conclusion in cash or check. <p> 

<p> Players will receive a $25 stake to begin the game. This stake is cash and winnings will be paid at the conclusion in cash or check. <p> 

Find me in /project_directory/coin_flip/app/views/introduction/index.html.erb </p>
<%= link_to "Accept", new_user_path %>
