<div class="timer">
  <p class="hidden-time" hidden> <%= @user.created_at.to_f * 1000 %> </p>
  <p class="hidden-minute-duration" hidden> <%= Constants::GAME_MINUTE_DURATION %> </p>
  <p class="hidden-second-duration" hidden> <%= Constants::GAME_SECOND_DURATION %> </p>
  <span>Time left = </span>
  <span id="minute"></span>
  <span>:</span>
  <span id="second"></span>
</div>
