
<div id="welcome-container">
  <img id="mountains" src="http://www.elmfunds.com/img/bg4.jpg" />
  <div id="welcome-text-container">
  <h1 id="title"> Thank You! </h1>
<br><p id="welcome-text">
Thank you for participating in this cognitive experiment we’re running, which will hopefully give us greater understanding of how people make decisions under uncertainty.  We will keep your personal details confidential.
<br><br>

</div>
